<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>Tatiana Kerick | Portfolio</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<link rel="stylesheet" type="text/css" href="styles/settings/font-awesome.min.css">

	{{ghost_head}}
</head>
<body class="{{body_class}}">

	<div class="site-wrapper">

		{{!-- main content gets inserted here --}}
		{{{body}}}


		<footer class="footer--outer">
			<div class="footer--inner">
				<div class="section__title">
					talk to me
				</div>
				<div class="footer__email">
					KerickTatiana@gmail.com
				</div>
				<div class="footer__number">
					(484) 505-0877
				</div>

				<div class="footer__links">
					<a class="social__link"
					   target="_blank"
					   href="https://github.com/kericktatiana">
						<i class="fa fa-github"></i>
					</a>
					<a class="social__link"
					   target="_blank"
					   href="https://www.linkedin.com/in/tatianakerick/">
						<i class="fa fa-linkedin"></i>
					</a>
					<a class="social__link" 
					   target="_blank"
					   href="https://www.behance.net/Miss_Tatiana" title="Behance">
						<i class="fa fa-behance"></i>
					</a>
				</div>


			</div>

			<div class="footer__copyright">
				&copy; 2017 All Rights Reserved
			</div>
		</footer>

	</div>

</body>
</html>