{{!< default}}

<header class="header--outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
	<div class="header--inner">
		<div class="header__intro">Hey, I'm Tatiana</div>
		<div class="header__text">A Front-end Designer</div>
	</div>
</header>
