{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- <header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header> --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<div class="post__wrapper">
    <div class="post__title">{{title}}</div>

    <div class="post__content">
        {{content}}
    </div>
</div>


{{/post}}
