* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
body {
  background: #cccbc8;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
button {
  border: none;
  background-color: transparent;
}
button:focus {
  outline: none;
}
.button__row {
  display: flex;
  flex-direction: row;
}
.button--first {
  margin-right: 20px;
}
.button--outline {
  border: 2px solid #9ebcb7;
  font: 12px 'Roboto-Regular', sans-serif;
  color: #2c3f3d;
  height: 30px;
  letter-spacing: 0.032em;
  padding: 6px 13px;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  -webkit-transition: background-color 0.75s ease 0s;
  -moz-transition: background-color 0.75s ease 0s;
  -o-transition: background-color 0.75s ease 0s;
  transition: background-color 0.75s ease 0s;
}
.button--outline:hover {
  cursor: pointer;
  background-color: #9ebcb7;
}
.button--full {
  border: none;
  background-color: #9ebcb7;
  font: 12px 'Roboto-Regular', sans-serif;
  color: #2c3f3d;
  height: 30px;
  letter-spacing: 0.032em;
  padding: 6px 13px;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  -webkit-transition: background-color 0.75s ease 0s;
  -moz-transition: background-color 0.75s ease 0s;
  -o-transition: background-color 0.75s ease 0s;
  transition: background-color 0.75s ease 0s;
}
.button--full:hover {
  cursor: pointer;
  background-color: #759f98;
}
.footer--outer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  position: relative;
  width: 100%;
}
.footer--inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.footer__email {
  color: #fff;
  font: 20px 'Roboto-Thin', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.footer__number {
  color: #fff;
  font: 17px 'Roboto-Light', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.footer__links {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.social__link {
  margin: 0 10px;
  color: #b2b0ab;
}
.social__link:hover {
  color: #4d2a41;
}
.footer__copyright {
  background-color: rgba(100,100,100,0.25);
  bottom: 0;
  color: #717171;
  font: 12px 'Roboto-Regular', sans-serif;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  position: absolute;
  width: 100%;
}
.header--outer {
  background-size: 100%;
  display: flex;
  min-height: 300px;
  width: 100%;
  flex-direction: column;
  padding-top: 10px;
}
.header--inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__intro {
  color: #fff;
  font: 50px 'Roboto-Thin', sans-serif;
  line-height: 60px;
  margin-bottom: 10px;
}
.header__text {
  color: #633653;
  font: 30px 'Roboto-Regular', sans-serif;
  line-height: 40px;
  text-transform: uppercase;
}
.site-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
}
.site-nav--left {
  width: 50%;
}
.site-nav--right {
  width: 50%;
}
.site-nav__logo {
  width: 10%;
}
.site-nav--right {
  display: flex;
  justify-content: flex-end;
}
.site-nav--right ul {
  display: flex;
  flex-direction: row;
}
.site-nav--right li {
  margin-left: 20px;
  margin-right: 20px;
}
.site-nav--right li:last-child {
  margin-right: 0;
}
.site-nav--right a {
  color: #9ebcb7;
  font: 14px 'Roboto-Regular', sans-serif;
  letter-spacing: 0.032em;
  text-transform: uppercase;
  -webkit-transition: color 0.75s ease 0s;
  -moz-transition: color 0.75s ease 0s;
  -o-transition: color 0.75s ease 0s;
  transition: color 0.75s ease 0;
}
.site-nav--right a:hover {
  color: #2c3f3d;
}
.main__content {
  display: flex;
  flex-direction: column;
}
.main__section {
  margin: 20px 0;
}
.section--outer {
  display: flex;
  margin-bottom: 80px;
}
.section--inner {
  display: flex;
  flex-direction: column;
}
.section__title {
  color: #633653;
  font: 20px 'PermanentMarker-Regular', cursive;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.section--about {
  align-items: center;
}
.about__tagline {
  color: #4d2a41;
  font: 14px 'Roboto-Bold', sans-serif;
  font-style: italic;
  margin-bottom: 5px;
}
.about__text {
  color: #000;
  font: 14px 'Roboto-Regular', sans-serif;
  letter-spacing: 0.023em;
  line-height: 19px;
  margin-bottom: 10px;
  text-align: center;
  width: 45%;
}
.about__text--last {
  margin-bottom: 40px;
}
.section__title--work {
  text-align: center;
}
.work-feed__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.work-feed__link {
  color: #759f98;
  font: 14px 'Roboto-Regular', sans-serif;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  padding: 0 20px;
  -webkit-transition: color 0.75s ease 0s;
  -moz-transition: color 0.75s ease 0s;
  -o-transition: color 0.75s ease 0s;
  transition: color 0.75s ease 0;
}
.work-feed__link:hover {
  color: #2c3f3d;
  cursor: pointer;
}
.post-card__wrapper {
  display: flex;
  flex-direction: column;
  width: 33.333333%;
  margin-left: 10px;
  margin-right: 10px;
}
.post-card__image-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.post-card__image {
  width: 100%;
  height: 250px;
  background-size: cover;
}
.post-card__title {
  font: 14px 'Roboto-Bold', sans-serif;
  color: #759f98;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 0.75s ease 0s;
  -moz-transition: color 0.75s ease 0s;
  -o-transition: color 0.75s ease 0s;
  transition: color 0.75s ease 0;
}
.post-card__link-wrapper:hover {
  cursor: pointer;
}
.post-card__link-wrapper:hover .post-card__title {
  color: #2c3f3d;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf");
  src: url("../fonts/Roboto-Bold.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf");
  src: url("..fonts/Roboto-Light.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf");
  src: url("../fonts/Roboto-Medium.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf");
  src: url("../fonts/Roboto-Regular.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf");
  src: url("../fonts/Roboto-Thin.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PermanentMarker-Regular';
  src: url("../fonts/PermanentMarker-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
