<div class="site-nav">
    <div class="site-nav--left">
        <img class="site-nav__logo" src="../assets/images/logo.png">
    </div>
    <div class="site-nav--right">
        <div class="site-nav__nav">
            {{#if @blog.navigation}}
                {{navigation}}
            {{/if}}
        </div>
    </div>
</div>
