.page__wrapper
	display flex
	flex-direction column

.page__title
	color $purple10
	display flex
	font 25px $marker
	justify-content center
	letter-spacing 1px
	margin-bottom 30px
	
.page__title--xl
	color $purple10
	display flex
	font 50px $marker
	justify-content center
	letter-spacing 1px
	margin-bottom 30px
	
.page__text--lg
	color $green200
	display flex
	font 25px $regular
	justify-content center
	margin-bottom 80px
	
.page__text--lg-link
	color $green100
	display flex
	font 25px $regular
	justify-content center
	margin-bottom 40px
	-webkit-transition color 0.75s ease 0s
	-moz-transition color 0.75s ease 0s
	-o-transition color 0.75s ease 0s
	transition color 0.75s ease 0
	&:hover
		color $green200
	
.page-thankyou footer
	display none
	

.error-template
	align-items center
	display flex
	flex-direction column
	
.error__image
	display flex
	width 50% 
	height 50%