.page__wrapper
	display flex
	flex-direction column

.page__title
	color $purple10
	display flex
	font 25px $marker
	justify-content center
	letter-spacing 1px
	margin-bottom 30px
	
.page__title--xl
	color $purple10
	display flex
	font 50px $marker
	justify-content center
	letter-spacing 1px
	margin-bottom 30px
	
.thankyou__text
	color $green200
	display flex
	font 25px $regular
	justify-content center
	margin-bottom 80px
	
.page-thankyou footer
	display none