.post__wrapper
	display flex
	flex-direction column
	justify-content center
	margin-bottom 20%
	
.post__header
	background center center
	background-size 100%
	display flex
	height 250px
	justify-content center
	margin-bottom 60px
	position relative
	
.post__title
	background-color rgba(204, 203, 200, 0.9)
	bottom -30px
	box-shadow 0px 6px 6px $purple
	color $purple10
	display flex
	font 30px $marker
	justify-content center
	letter-spacing 1px
	padding 30px 40px
	position absolute
	

.post__cotent
	display flex
	flex-direction column
	justify-content center


.kg-card-markdown 
	align-items center
	display flex
	flex-direction column
	p
		color $black
		font 14px $regular
		letter-spacing 0.023em
		line-height 20px
		margin-bottom 10px
		width 60%
		img
			width 100%
	ol, ul
		align-items center
		display flex
		flex-direction column
		width 60%
	li
		color $black
		font 14px $regular
		letter-spacing 0.023em
		line-height 20px
		margin-bottom 10px
		p
			width 100%
