.posts__wrapper
	display flex
	flex-direction row
	margin 0 10px 20px 10px
	
.posts__wrapper--portfolio
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	margin 0 10px 20px 10px
	
.link__wrapper
	justify-content flex-end
	width 100%
.link__more
	color $green100
	display flex
	font 14px $regular
	justify-content flex-end
	padding 0 20px
	text-transform uppercase
	
	-webkit-transition color 0.75s ease 0s
	-moz-transition color 0.75s ease 0s
	-o-transition color 0.75s ease 0s
	transition color 0.75s ease 0
	&:hover 
		color $green200
		cursor pointer
	
.post-card__wrapper
	display flex
	flex-direction column
	justify-content center
	margin 0 10px 40px 10px
	
.post-card__image-wrapper
	align-items center
	display flex
	height 250px
	justify-content center
	margin-bottom 10px
	overflow hidden 
	position relative
	width 350px
	
.post-card__image
	transform scale(1.3)

	
.post-card__title
	font 14px $bold
	color $green100
	text-align center
	text-transform uppercase

	-webkit-transition color 0.75s ease 0s
	-moz-transition color 0.75s ease 0s
	-o-transition color 0.75s ease 0s
	transition color 0.75s ease 0
	
.post-card__link-wrapper&:hover
	cursor pointer
	.post-card__title
		color $green200
	
