.main__content
	display flex
	flex-direction column
	
.main__section
	margin 20px 0
	
.section--outer
	display flex
	margin-bottom 80px
.section--inner
	display flex
	flex-direction column

.section__title
	color $purple10
	font 20px $marker
	margin-bottom 20px
	letter-spacing 1px
	

/* individual sections
------------------------------------------*/
//about
.section--about
	align-items center

.about__tagline
	color $purple
	font 14px $bold
	font-style italic
	margin-bottom 5px
.about__text
	color $black
	font 14px $regular
	letter-spacing 0.023em
	line-height 19px
	margin-bottom 10px
	text-align center
	width 45%

.about__text--last
	margin-bottom 40px
	


// work
.section__title--work
	text-align center