@import "settings/colors.styl"
@import "settings/fonts.styl"

@import "generic/reset.styl"
@import "generic/layout.styl"

@import "elements/buttons.styl"

@import "components/footer.styl"
@import "components/main-header.styl"
@import "components/sections.styl"
@import "components/post-card.styl"


//import fonts
@font-face {
	font-family: 'Roboto-Bold';
	src: url('../assets/fonts/Roboto-Bold.ttf');
	src: url('../assets/fonts/Roboto-Bold.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../assets/fonts/Roboto-Light.ttf');
	src: url('../assets/fonts/Roboto-Light.woff');
	font-style: normal; 
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../assets/fonts/Roboto-Medium.ttf');
	src: url('../assets/fonts/Roboto-Medium.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../assets/fonts/Roboto-Regular.ttf');
	src: url('../assets/fonts/Roboto-Regular.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../assets/fonts/Roboto-Thin.ttf');
	src: url('../assets/fonts/Roboto-Thin.woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'PermanentMarker-Regular';
	src: url('../assets/fonts/PermanentMarker-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}