* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  list-style-type: none;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
body {
  background: #b2b0ab;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header--outer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  background-size: 100%;
}
.header--inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__intro {
  font: 50px 'Roboto-Thin', sans-serif;
  color: #fff;
  line-height: 60px;
}
.header__text {
  font: 30px 'Roboto-Regular', sans-serif;
  color: #633653;
  text-transform: uppercase;
  line-height: 40px;
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../assets/fonts/Roboto-Bold.ttf");
  src: url("../assets/fonts/Roboto-Bold.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url("../assets/fonts/Roboto-Light.ttf");
  src: url("../assets/fonts/Roboto-Light.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Medium';
  src: url("../assets/fonts/Roboto-Medium.ttf");
  src: url("../assets/fonts/Roboto-Medium.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../assets/fonts/Roboto-Regular.ttf");
  src: url("../assets/fonts/Roboto-Regular.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url("../assets/fonts/Roboto-Thin.ttf");
  src: url("../assets/fonts/Roboto-Thin.woff");
  font-style: normal;
  font-weight: normal;
}
