button
	background-color transparent
	border none
	&:focus
		outline none

.button__row
	display flex
	flex-direction row

.button--first
	margin-right 20px
	
.button--outline
	border 2px solid $green10
	color $green200
	font 12px $regular
	height 30px
	letter-spacing 0.032em
	padding 6px 13px
	text-align center
	text-transform uppercase
	width 120px
	
	-webkit-transition background-color 0.75s ease 0s
	-moz-transition background-color 0.75s ease 0s
	-o-transition background-color 0.75s ease 0s
	transition background-color 0.75s ease 0s
	&:hover
		background-color $green10
		cursor pointer		
	
.button--full
	background-color $green10
	border none
	color $green200
	font 12px $regular
	height 30px
	letter-spacing 0.032em
	padding 7px 13px 6px 13px
	text-align center
	text-transform uppercase
	width 120px
	
	-webkit-transition background-color 0.75s ease 0s
	-moz-transition background-color 0.75s ease 0s
	-o-transition background-color 0.75s ease 0s
	transition background-color 0.75s ease 0s
	&:hover
		cursor pointer
		background-color $green100
		
.button--contact 
	width 100%