.contact__form
	display flex
	flex-direction column
	margin-bottom 60px
	padding 0 25%;
	
.contact__input-wrapper
	display flex
	flex-direction column
	margin-bottom 20px
	
.contact__label
	color $purple10
	font 16px $regular
	margin-bottom 10px
	
.contact__input
	border none
	color $green200
	display block
	font 12px $regular
	height 30px
	letter-spacing 0.032em
	padding 1px 5px 0 5px
	width 100%
	&:focus
		outline none
		outline-offset 2px
		padding-top 1.8px
		
.contact__input--textarea
	border none
	color $green200
	display block
	font 12px $regular
	letter-spacing 0.032em
	padding 5px 5px 0 5px
	resize none
	width 100%
	&:focus
		outline none
		outline-offset 2px
