.header--outer
	background-size 100%
	display flex
	justify-content center
	min-height 300px
	width 100%
	

.header--inner
	align-items center
	display flex
	flex-direction column
	justify-content center
	
.header__intro
	color $white
	font 50px $thin
	line-height 60px
	margin-bottom 10px
	
.header__text
	color $purple10
	font 30px $regular
	line-height 40px
	text-transform uppercase
