.work-feed__wrapper
	display flex
	flex-direction row
	margin-bottom 40px
	
.work-feed__link
	color $green100
	font 12px $regular
	display flex
	justify-content flex-end
	text-transform uppercase
	padding 0 10px
	&:hover 
		color $green200
		cursor pointer
		text-decoration underline
	
.post-card__wrapper
	display flex
	flex-direction column
	width 33.333333%
	padding 0 10px
	
.post-card__image-wrapper
	position relative
	overflow hidden
	margin-bottom 20px
	
.post-card__image
	width 100%
	height 250px
	background-size cover
	
.post-card__title
	font 14px $bold
	color $green100
	text-align center
	text-transform uppercase
	
.post-card__link-wrapper&:hover
	cursor pointer
	.post-card__title
		color $green200
	
